@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(233, 47%, 7%);
	font-family: Inter, sans-serif;
	color: #fff;
	font-size: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 6rem auto;
}

.container img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.showcase {
	background-color: hsl(244, 38%, 16%);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1rem;
}
